[user]
	name = Matthew Marchese
	email = maffblaster@gentoo.org
	signingkey = 1A8032FD1B3A9D5F
[core]
	editor = vim
[web]
	browser = firefox
[push]
	default = simple
	gpgsign = if-asked
[color]
	ui = auto
[merge]
	guitool = meld
	tool = vimdiff
[diff]	
	guitool = meld
	tool = icdiff
[difftool]
	prompt = false
[format]
	signoff = true
[commit]
	gpgsign = true
[gpg]
	program = /usr/bin/gpg
[alias]
	a = add --all
	# Logging
	l = log --oneline
	lg = log --oneline --graph --decorate
